In [58]:
import pandas as pd

In [59]:
# Leer el archivo CSV
df = pd.read_csv("master.csv", encoding='utf-8')

In [60]:
# Imprimir cantidad de observaciones y variables
print(f"Número de filas: {len(df)}\nNúmero de columnas: {len(df.columns)}\n")

# Información general del DataFrame
print(df.info())

# Estadísticas descriptivas
print(df.describe())

Número de filas: 27820
Número de columnas: 12

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  object
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB
None
               year   suicides_no    population  suicides/100k pop  \
count  27820.000000  27820.000000  2.782000e+04       27820.000000
mean    2001.258375    242.574407  1.844794e+06          12.816097
std        8.469055    902.047917  3.911779e+06          18.961511
min     1985.000000      0.000000  2.780000e+02           0.000000
25%     1995.000000      3.000000  9.749850e+04           0.920000
50%     2002.000000     25.000000  4.301500e+05           5.990000
75%     2008.000000    131.000000  1.486143e+06          16.620000
max     2016.000000  22338.000000  4.380521e+07         224.970000

       HDI for year  gdp_per_capita ($)
count   8364.000000        27820.000000
mean       0.776601        16866.464414
std        0.093367        18887.576472
min        0.483000          251.000000
25%        0.713000         3447.000000
50%        0.779000         9372.000000
75%        0.855000        24874.000000
max        0.944000       126352.000000

In [61]:
for column in df.columns:
    print(f"{column}: {df[column].describe()}")
    print(f"Presenta entradas con NAN: {df[column].hasnans}")
    if df[column].hasnans:
        print(f"Cantidad de observaciones con NAN: {df[column].isna().sum()}")
    print("--------------------------------------------------------------------")

country: count       27820
unique        101
top       Austria
freq          382
Name: country, dtype: object
Presenta entradas con NAN: False
--------------------------------------------------------------------
year: count    27820.000000
mean      2001.258375
std          8.469055
min       1985.000000
25%       1995.000000
50%       2002.000000
75%       2008.000000
max       2016.000000
Name: year, dtype: float64
Presenta entradas con NAN: False
--------------------------------------------------------------------
sex: count     27820
unique        2
top        male
freq      13910
Name: sex, dtype: object
Presenta entradas con NAN: False
--------------------------------------------------------------------
age: count           27820
unique              6
top       15-24 years
freq             4642
Name: age, dtype: object
Presenta entradas con NAN: False
--------------------------------------------------------------------
suicides_no: count    27820.000000
mean       242.574407
std        902.047917
min          0.000000
25%          3.000000
50%         25.000000
75%        131.000000
max      22338.000000
Name: suicides_no, dtype: float64
Presenta entradas con NAN: False
--------------------------------------------------------------------
population: count    2.782000e+04
mean     1.844794e+06
std      3.911779e+06
min      2.780000e+02
25%      9.749850e+04
50%      4.301500e+05
75%      1.486143e+06
max      4.380521e+07
Name: population, dtype: float64
Presenta entradas con NAN: False
--------------------------------------------------------------------
suicides/100k pop: count    27820.000000
mean        12.816097
std         18.961511
min          0.000000
25%          0.920000
50%          5.990000
75%         16.620000
max        224.970000
Name: suicides/100k pop, dtype: float64
Presenta entradas con NAN: False
--------------------------------------------------------------------
country-year: count              27820
unique              2321
top       Uzbekistan2014
freq                  12
Name: country-year, dtype: object
Presenta entradas con NAN: False
--------------------------------------------------------------------
HDI for year: count    8364.000000
mean        0.776601
std         0.093367
min         0.483000
25%         0.713000
50%         0.779000
75%         0.855000
max         0.944000
Name: HDI for year, dtype: float64
Presenta entradas con NAN: True
Cantidad de observaciones con NAN: 19456
--------------------------------------------------------------------
 gdp_for_year ($) : count              27820
unique              2321
top       63,067,077,179
freq                  12
Name:  gdp_for_year ($) , dtype: object
Presenta entradas con NAN: False
--------------------------------------------------------------------
gdp_per_capita ($): count     27820.000000
mean      16866.464414
std       18887.576472
min         251.000000
25%        3447.000000
50%        9372.000000
75%       24874.000000
max      126352.000000
Name: gdp_per_capita ($), dtype: float64
Presenta entradas con NAN: False
--------------------------------------------------------------------
generation: count            27820
unique               6
top       Generation X
freq              6408
Name: generation, dtype: object
Presenta entradas con NAN: False
--------------------------------------------------------------------